---
import BlogDetails from "../../components/BlogDetails.astro"
import { blogs } from "../../data/blogData"
import MainLayout from "../../layouts/MainLayout.astro"


export function getStaticPaths() {
  return blogs.map(blog => ({
    params: { id: blog.id },
    props: { blog }
  }))
}

const { blog } = Astro.props

const related = blogs
  .filter(b => b.id !== blog.id)
  .slice(0, 3)
---

<html lang="en">
<head>
  <title>{blog.title}</title>
  <meta name="description" content={blog.subtitle} />
</head>

<body>
    <MainLayout>
  <BlogDetails blog={blog} related={related} />
  </MainLayout>
</body>
</html>