---
import "../css/home.css";
---

<section class="before-after">
  <div class="container">
    <h2 class="section-title">Before & After Restorations</h2>

    <div class="ba-grid">
      <div class="ba-card">
        <img src="/src/assets/beforeimg.jpeg" alt="Before" />
        
      </div>

      <div class="ba-card">
        <img src="/src/assets/afterimg.avif" alt="After" />
        
      </div>
    </div>
  </div>
</section>
